[submodule "kodkod"]
	path = kodkod
	url = git@github.com:TeamAmalgam/kodkod.git
[submodule "alloy"]
	path = alloy
	url = gitlab@git.uwaterloo.ca:teamamalgam/alloy.git
[submodule "test-models"]
	path = test-models
	url = git@github.com:TeamAmalgam/test-models.git
